## Pandas

Pandas is a Python library used for working with data sets.It has functions for `analyzing, cleaning, exploring, and manipulating data`.The name "Pandas" has a reference to both `"Panel Data"`, and `Python Data Analysis` and was created by `Wes McKinney in 2008.`

**Import Pandas**
  
Once Pandas is installed, import it in your applications by adding the import keyword:

In [5]:
import pandas

Pandas as pd

Pandas is usually imported under the pd alias.

In [10]:
import pandas as pd

In [34]:
data= {
    'cars':["BMW","Mini Cooper","Benz"],
    'count':["5","6","2"]
}
pd.DataFrame(data)

          cars count
0          BMW     5
1  Mini Cooper     6
2         Benz     2

## Checking Pandas Version

The version string is stored under __version__ attribute.

In [25]:
pd.__version__

'2.2.2'