In [17]:
import pandas as pd
df = pd.read_csv("C:\\Users\\aardr\\Downloads\\Vessel_1_Report_Data.csv")

In [19]:
df.head()

   report_date_time report_date_time_2
0  02-01-2018 19:48   02-01-2018 19:48
1  14-02-2018 12:00   14-02-2018 12:00
2  22-03-2018 14:30   22-03-2018 14:30
3  16-05-2018 21:30   16-05-2018 21:30
4  13-12-2018 12:00   13-12-2018 12:00

In [ ]:
for i in df['report_date_time_2']:
    print(i)
    if df['report_date_time_2'].index = 0:
    print(i+1) i have a dataframe df['report_date_time_2']

In [54]:
# Define the date formats
format1 = '%A-%m-%d-%Y %H:%M'
format2 = '%d-%m-%Y %H:%M'

# Find the indexes with the specific format
indexes_format1 = []

for idx, date_str in enumerate(df['report_date_time_2']):
    try:
        # Try to parse with format1
        pd.to_datetime(date_str, format=format1)
        indexes_format1.append(idx)
    except ValueError:
        # If it fails, it's not format1
        continue

print("Indexes with format '%A-%m-%d-%Y %H:%M':", indexes_format1)

Indexes with format '%A-%m-%d-%Y %H:%M': []

In [3]:
df['report_date_time'] = pd.to_datetime(df['report_date_time'], format='%d-%m-%Y %H:%M')

In [7]:
df['formatted_date'] = df['report_date_time'].dt.strftime('%d-%b-%Y')
df.head()

     report_date_time report_date_time_2 formatted_date
0 2018-01-02 19:48:00   02-01-2018 19:48    02-Jan-2018
1 2018-02-14 12:00:00   14-02-2018 12:00    14-Feb-2018
2 2018-03-22 14:30:00   22-03-2018 14:30    22-Mar-2018
3 2018-05-16 21:30:00   16-05-2018 21:30    16-May-2018
4 2018-12-13 12:00:00   13-12-2018 12:00    13-Dec-2018

In [9]:
formats = ['%A-%m-%d-%Y %H:%M', '%d-%m-%Y %H:%M']

def parse_and_format_date(date_str):
    for fmt in formats:
        try:
            dt = pd.to_datetime(date_str, format=fmt)
            return dt.strftime('%Y-%m-%d %H:%M:%S')
        except ValueError:
            continue
    return None

df['report_date_time_2'] = df['report_date_time_2'].apply(parse_and_format_date)

error_rows = df[df['report_date_time_2'].isna()]

print("Rows with errors:")
print(error_rows)

df.to_csv('Aardra_2.csv', index=False)

Rows with errors:
        report_date_time report_date_time_2 formatted_date
109  2022-03-14 09:48:00               None    14-Mar-2022
242  2023-02-11 04:00:00               None    11-Feb-2023
5716 2020-03-12 12:00:00               None    12-Mar-2020
6251 2020-12-29 12:00:00               None    29-Dec-2020

In [15]:
df['report_date_time_2'].loc[109]

In [37]:
def is_leap_year(year):
    
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = 1900
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

1900 is not a leap year.