## Introduction to Pandas Operations

Pandas inherits many functionalities from NumPy, allowing quick element-wise operations. It preserves index and column labels and aligns indices automatically during operations.

**1. Creating Series and DataFrames**

**Series**

In [8]:
import pandas as pd
import numpy as np

In [9]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(1,10,3))
ser

0    7
1    4
2    8
dtype: int32

**DataFrame**

In [11]:
df = pd.DataFrame(rng.randint(1,10,(3,4)), columns = ['A','B','C','D'])
print(df)

   A  B  C  D
0  5  7  3  7
1  8  5  4  8
2  8  3  6  5

## Universal Functions (Ufuncs)

Ufuncs allow element-wise operations like addition, multiplication, trigonometric functions, etc.

In [13]:
np.exp(ser)

0    1096.633158
1      54.598150
2    2980.957987
dtype: float64

In [14]:
np.sin(df*np.pi/4)

              A         B             C             D
0 -7.071068e-01 -0.707107  7.071068e-01 -7.071068e-01
1 -2.449294e-16 -0.707107  1.224647e-16 -2.449294e-16
2 -2.449294e-16  0.707107 -1.000000e+00 -7.071068e-01

In [15]:
df = (df - df.iloc[0])
print(df)

   A  B  C  D
0  0  0  0  0
1  3 -2  1  1
2  3 -4  3 -2

## Ufuncs: Index Alignment

For binary operations on two `Series` or `DataFrame` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

In [27]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 39538223, 'Texas': 29145505,
                        'Florida': 21538187}, name='population')

In [57]:
area

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

In [59]:
population

California    39538223
Texas         29145505
Florida       21538187
Name: population, dtype: int64

In [35]:
population/area

Alaska              NaN
California    93.257784
Florida             NaN
Texas         41.896072
dtype: float64

In [65]:
area.index.union(population.index)

Index(['Alaska', 'California', 'Florida', 'Texas'], dtype='object')

In [53]:
A = pd.Series([2,4,6],index=[0,1,2])
B = pd.Series([1,3,5],index=[1,2,3])
print(A)
print(B)
A+B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

`NaN / none gives errors` so we need to replace and the add or do any mathematical operations so that we get a result withot error

In [55]:
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64