### Hierarchical Indexing (MultiIndex)

Hierarchical indexing (or multi-indexing) allows you to have multiple levels of indexing in your data, which can be useful when you have data that spans multiple dimensions. Itâ€™s like having a detailed table where rows and columns can be labeled with more than one key.

**Creating a MultiIndex Series**

In [5]:
import pandas as pd

index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

ser = pd.Series(populations, index=pd.MultiIndex.from_tuples(index))
print(ser)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [6]:
print(ser[:, 2010])

California    37253956
New York      19378102
Texas         25145561
dtype: int64

**Converting to DataFrame**

If you have a Series with a MultiIndex, you can convert it into a DataFrame:

In [8]:
df = ser.unstack()
df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

**Hierarchical Indexing in DataFrames**

You can also use hierarchical indexing for columns in a DataFrame.

In [10]:
import pandas as pd
import numpy as np
index = pd.MultiIndex.from_product([[2013,2014],[1,2]],names = ['year','visit'])
columns = pd.MultiIndex.from_product([['bob','Guido','sue'],['HR','Temp']], names = ['sub','type'])
data = np.random.randn(4,6)
Health_data = pd.DataFrame(data,index=index,columns=columns)
Health_data

sub              bob               Guido                 sue
type              HR      Temp        HR      Temp        HR      Temp
year visit
2013 1     -1.143955 -0.980032  0.264334  0.470696  0.748326  0.764108
     2      0.667441  0.288365  0.830246 -0.442187 -0.533509  0.578847
2014 1      1.557238  3.079650 -0.824658 -2.410613 -0.531753 -0.153471
     2      0.538263 -1.112599 -0.025772 -1.239840  0.079620 -1.294907

**Accessing MultiIndex DataFrame**

To access specific data, such as all measurements for 'Guido':

In [12]:
print(Health_data['Guido'])

type              HR      Temp
year visit
2013 1      0.264334  0.470696
     2      0.830246 -0.442187
2014 1     -0.824658 -2.410613
     2     -0.025772 -1.239840

## **Indexing and Slicing a MultiIndex**

### **Indexing a MultiIndex Series**

In [15]:
index = [('California',2000),('California',2010),('New York',2000),('New York',2010),('Texas',2000),('Texas',2010)]
Populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]
ser = pd.Series(Populations,index=pd.MultiIndex.from_tuples(index))
ser

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

**Access a Single element**

In [17]:
print(ser['California',2000])

33871648

**Partial Indexing**

In [19]:
print(ser['California'])

2000    33871648
2010    37253956
dtype: int64

**Partial Slicing**

In [21]:
print(ser['California':'New York'])

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

**Indexing on One Level**

In [23]:
print(ser.loc[:,2000])

California    33871648
New York      18976457
Texas         20851820
dtype: int64

**Boolean Indexing**

In [25]:
print(ser[ser>19378102])

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

**Fancy Indexing**

In [27]:
print(ser[['California','Texas','New York']])

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

### **Indexing a MultiIndex DataFrame**

In [29]:
import pandas as pd
import numpy as np
index = pd.MultiIndex.from_product([[2013,2014],[1,2]],names = ['year','visit'])
columns = pd.MultiIndex.from_product([['bob','Guido','sue'],['HR','Temp']], names = ['sub','type'])
data = np.random.randn(4,6)
Health_data = pd.DataFrame(data,index=index,columns=columns)
Health_data

sub              bob               Guido                 sue
type              HR      Temp        HR      Temp        HR      Temp
year visit
2013 1     -1.117818 -0.650210 -0.201580  1.369460  0.007284  0.010763
     2      1.493510  0.649336 -1.626816 -0.714438 -1.490516 -0.381835
2014 1      0.285451 -0.934666  1.790459 -1.257154  0.720913  1.044621
     2     -1.631621 -1.257516 -1.096046  1.457608 -0.931205  1.042297

In [30]:
print(Health_data['Guido','HR'])

year  visit
2013  1       -0.201580
      2       -1.626816
2014  1        1.790459
      2       -1.096046
Name: (Guido, HR), dtype: float64

**Using loc and iloc**

In [32]:
print(Health_data.loc[:,('bob','HR')])

year  visit
2013  1       -1.117818
      2        1.493510
2014  1        0.285451
      2       -1.631621
Name: (bob, HR), dtype: float64

In [33]:
print(Health_data.iloc[:4,:2])

sub              bob
type              HR      Temp
year visit
2013 1     -1.117818 -0.650210
     2      1.493510  0.649336
2014 1      0.285451 -0.934666
     2     -1.631621 -1.257516

**Using IndexSlice for slicing**

In [35]:
idx = pd.IndexSlice
print(Health_data.loc[idx[:,2],idx[:,'HR']])

sub              bob     Guido       sue
type              HR        HR        HR
year visit
2013 2      1.493510 -1.626816 -1.490516
2014 2     -1.631621 -1.096046 -0.931205

### **Rearranging MultiIndices**

**Sorting**

In [38]:
index = pd.MultiIndex.from_product([['A','D','C'],[1,2]])
data = pd.Series(np.random.rand(6),index=index)
data

A  1    0.760746
   2    0.954911
D  1    0.713742
   2    0.635071
C  1    0.552057
   2    0.571813
dtype: float64

In [39]:
sorted = data.sort_index()
sorted

A  1    0.760746
   2    0.954911
C  1    0.552057
   2    0.571813
D  1    0.713742
   2    0.635071
dtype: float64

**Partial Slicing After Sorting**

In [41]:
print(sorted['A':'C'])

A  1    0.760746
   2    0.954911
C  1    0.552057
   2    0.571813
dtype: float64

**Stacking**

In [43]:
unstack = ser.unstack(level =0)
unstack

      California  New York     Texas
2000    33871648  18976457  20851820
2010    37253956  19378102  25145561

In [44]:
unstack = ser.unstack(level=1)
unstack

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

**Back to stack**

In [46]:
stack = unstack.stack()
stack

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### **Data Aggregations on Multi-Indices**

In [48]:
index = pd.MultiIndex.from_tuples([
    ('North', 'Jan'), ('North', 'Feb'),
    ('South', 'Jan'), ('South', 'Feb'),
    ('East', 'Jan'), ('East', 'Feb')
], names=['Region', 'Month'])

sales_data = pd.DataFrame({
    'Sales': [200, 220, 180, 190, 210, 230]
}, index=index)

sales_data

              Sales
Region Month
North  Jan      200
       Feb      220
South  Jan      180
       Feb      190
East   Jan      210
       Feb      230

In [56]:
monthly_sales = sales_data.sum(level = 'Month')

TypeError: sum() got an unexpected keyword argument 'level'